body {
      background-image: url(Imagens/capa-fundo-demon-slayer.png);
      background-size: 100%;
      font-family: sans-serif;
      color: white;
    
      
}
 nav a {
        display: inline-block;
        font-weight: 700;
        text-align: center;
        margin: 30px 30px 30px 30px;
        font-size: 18px;
 }
 a:hover {
          color: red;
 }
  
 a:visited {
            color: yellow;
 }
 header h1 {
            text-align: center;
            text-decoration: underline;
            font-size: xx-large;
            margin-top: 40px;
            font-size: 48px;
 }
  aside, img {
             text-align: center;
  }

.solo {
       display: flex;     

}

.box-1,ul li p {
        margin-right:60px;
}

.dark {
      line-height: 25px;
}

.velox {
        text-align: center;
}

.velux {
        display: inline-block;
        border: 3px solid white;
        text-align: center;
        line-height: 25px;  
        background-color: black;     
}

span {
    background-color:aqua;
    color: black;
    font-weight: bolder;
    padding: 5px 5px 5px 5px;
}
.vaper {
        text-align: center;       
}
.try {
      display: inline-block;
      border: 3px solid white;
      text-align: center;
      background-color: black;
      
}
