* {
    margin: 8px;
}
body {
    background-image: url(Imagens/anime-capa.png);
    background-color: black;
    font-family: sans-serif;
    font-weight: bolder;
    color:white;
    background-size: 100%;
    background-position: center;
} 
header h1 {
          background-color: rgb(156, 0, 0);
          text-align: center;
          text-decoration: underline;
          margin:30px ;
          font-size: 40px;
          padding: 20px 20px 20px 20px;
}
nav a {
     display: inline-block;
     margin: 20px 100px 20px 20px;
     background-color: white;
}

a:hover {
        color: red;
}
a:visited {
         color:red;
}
div {
    display: inline-block;
    border: 2px solid white;
    margin: 10px 10px 10px 10px;
}
aside iframe {
      border: 3px solid white;
      display: inline-block;
}
ul li {
      line-height: normal;
}
p {
    line-height: 20px;
}
h2 {
    font-size: 28px;
    font-weight: bolder;  
}
.solo {
       text-align: center;
}
.box {
      text-align: center;
      color: black;
      background-color:white;
}
